# 1. VALORES Y TIPO DE DATOS

Tipos de datos:
- Enteros (int) | Números enteros
- Reales (float) | con punto flotante
- Textos (string) | cadenas de texto
- Booleanos (bool) | True o Falso

Las variables contantes se escriben en mayúscula, por ejemplo:
PI = 3.1416

In [0]:
# Variables
edad = 22
altura = 1.74
nombre = "Miguel"
mayorEdad = True
PI = 3.1416

¿Cómo verificamos qué tipo de dato es?

Utilizamos la función: `type()`

In [0]:
#Variable entera
type(edad)

In [0]:
#Variable flotante
type(altura)

In [0]:
#Variable cadena
type(nombre)

In [0]:
#Variable booleana
type(mayorEdad)

In [0]:
#Variable constante
type(PI)

# 2. OPERADORES

2.1. Operadores de comparación


* `==` compara si dos valores son iguales
* `!=` compara si dos valores son diferentes
* `>` Mayor que
* `<` Menor que
* `>=` Mayor o igual que
* `<=` Menor o igual que

In [0]:
# Operador ==
2 == 1

In [0]:
# Operador !=
4 != 3

In [0]:
# Operador >
3>4

In [0]:
# Operador <
5 < 1

In [0]:
# Operador >=
3.4 >= 3

In [0]:
# Operador <=
4 <= 4

2.2 Operadores lógicos
* and
* or
* not

*NOTA: Se escriben en mínuscula and, or y not*

![TABLA DE VERDAD and](https://www.fing.edu.uy/inco/cursos/fpr/wiki/images/7/7a/Tablaand.png)
![TABLA DE VERDAD or](https://www.fing.edu.uy/inco/cursos/fpr/wiki/images/b/b8/Tablaor.png)
![TABLA DE VERDAD not](https://www.fing.edu.uy/inco/cursos/fpr/wiki/images/4/41/Tablanot.png)

In [0]:
x = 5
y = 20
z= 15

True

In [0]:
# Operador and: True and True
y>x and y == x+z

True

In [0]:
# Operador or: False and True
y == z or

In [0]:
# Operador not: 
not x>20

True

2.3. Operadores matemáticos

* `+` Suma 
* `-` Resta 
* `*` Multiplicación 
* `/` División
* `**` Exponente
* `//` División entera
* `%`  Módulo

In [0]:
x = 9
y = 2

In [0]:
# SUMA
resultado = x + y
print(resultado)

In [0]:
# RESTA
resultado = x - y
print(resultado)

In [0]:
# MULTIPLICACIÓN
resultado = x * y
print(resultado)

In [0]:
# DIVISIÓN
resultado = (x-y) / y
print(resultado)

In [0]:
# EXPONENTE
resultado = x ** y
print(resultado)

In [0]:
# DIVISIÓN ENTERA
resultado = x // y
print(resultado)

4

In [0]:
# MÓDULO DE LA DIVISIÓN, el residuo de la división
resultado = x % y
print(resultado)

1

In [0]:
#EJERCICIO BÁSICO: variables y operadores
peras = 3
manzanas = 4
naranjas = "dos"
canasta = 0

In [0]:
canasta = peras + manzanas
print(canasta)

7

In [0]:
canasta = manzanas + naranjas
print(canasta)

In [0]:
#EJERCICIO: área y perimetros de un circulo
diametro = 6
PI= 3.14159265

perimetroCirculo = diametro*PI
# radio=diametro/2
areaCirculo = PI * (diametro/2)**2
print("El perimetro es:", perimetroCirculo)
print("El área es:", areaCirculo)

El perimetro es: 18.849555900000002
El área es: 28.27433385

In [0]:
#CONVERSIONES DE TIPOS DE DATOS
edad = 18
edad = str(18)
type(edad)
edad2 = edad*2
print(edad2)

In [0]:
cadena = "15.4"
cadena = float(cadena)
type(cadena)
print(cadena*2)

In [0]:
nombre = input("Escriba su nombre:")
edad= int(input("Escriba su edad:"))
mayorEdad = edad>18
print(nombre, "¿Es mayor de edad?", mayorEdad)